{% extends 'base.html' %}

{% block contents %}
<style>
    
    div{
        font-family: 'Do Hyeon', sans-serif;
        font-size: 23px;
        
    }
    form{
        position: absolute;
        top: 20%;
        left: 60%;
        
    }
    .welcome,.men{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 45px;
    }
    .btn-dark{
        float: right;
        background-color: rgb(19, 62, 255);
        width: 100px;
        
    }
    
</style>
<div class="container">
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <br>
        <p class="welcome">Welcome!</p>
        <p class="men">Men-to-Men</p>
        <br>
        {{form.as_p}}
        <br>
        <input class="btn-dark" type="submit" value="Log in">
    </form>
</div>
{% endblock %}