<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Mentor to Mentee</title>

    <link href="../../static/recruit/css/styles.css" rel="stylesheet" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="text-center main">
        <h1 class="mb-1">Matching Mentor to Mentee</h1>
        <h3 class="mb-5"><em>대학생 역량 강화를 위해 온라인을 통한 교육 매칭 서비스 입니다.<br>
            교내에서 같은 관심사를 가진 멘토와 멘티를 연결할 수 있도록 도와줍니다.<br>
            또한 다양한 분야에 종속된 사람들을 만날 수 있는 기회를 제공합니다.</em></h3>
        <a class="btn btn-light btn-xl" href="{% url 'post' %}">Find Out More</a>
    </div>
</body>

</html>