<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Mentor to Mentee</title>

    <link href="../../static/recruit/css/styles.css" rel="stylesheet" />
</head>

<body id="page-top">
    <h1>Matching Mentor to Mentee</h1>
    <h3><em>멘토 멘티 매칭 서비스 설명 적기</em></h3>
    <a class="btn btn-primary btn-xl" href="{% url 'post' %}">Find Out More</a>
</body>

</html>