{% extends 'base.html' %}

{% block contents %}
<h1>스터디 글쓰기</h1>
<form method="POST">
    {% csrf_token %}
    분야<br>
    <select id="field" name="field">
        <option value="어학">어학</option>
        <option value="취업">취업</option>
        <option value="고시/공무원">고시/공무원</option>
        <option value="취미/교양">취미/교양</option>
        <option value="프로그래밍">프로그래밍</option>
        <option value="기타">기타</option>
    </select><br>
    모집 인원<br>
    <input type="number" min="1" name="member"><br>
    제목<br>
    <input type="text" name="postname"><br>
    내용<br>
    <textarea rows="10" cols="50" name="contents"></textarea><br>
    <input type="submit" value="글쓰기">
</form>
{% endblock %}