{% extends 'base.html' %}

{% block contents %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
<style>
    h1,button,form{
        font-family: 'Do Hyeon', sans-serif;
        margin-left: 30px;
    }
    ul,table,h3{
        font-family: 'Do Hyeon', sans-serif;
        font-size: 23px;
    }
   
    
</style>
<h1>게시판 페이지입니다</h1>
<form action="" method="get">
    <input type="text" name="q" value="{{ q }}">
    <input type="submit" value="검색">
</form><br>
<!-- 게시판(postlist)의 게시글(list)을 하나씩 보여줍니다 -->
<button><a href="new_post/">글쓰기</a></button>
<table>
    {% for list in postlist %}
    <ul>
        <li><a href="{{list.pk}}/">{{list.postname}}</a>&nbsp;|
            {{list.field}} &nbsp;|
            {{list.pub_date}}&nbsp; | &nbsp;
            {{list.comments.count}}</li>
    </ul>
    {% endfor %}
</table>
{% endblock %}